body {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
// проверка связи
