/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

@import 'utils/variables';
@import 'base/null';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import 'utils/mixins';
@import 'utils/colors';
@import 'components/container';
@import 'components/section-movies';
@import 'components/header';
@import 'components/modal-card';

@import 'components/footer';

// @import './form';
