/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import 'base/null';
@import 'utils/colors';
@import 'utils/mixin';
@import 'modal-card';

// @import './form';
