$breakpoints: (
  'mobile': screen and
    (
      min-width: 480px,
    ),
  'tablet': screen and
    (
      min-width: 768px,
    ),
  'desktop': screen and
    (
      min-width: 1024px,
    ),
  'retina-apple-pasibo-bolshoe': (),
) !default;
