$breakpoints: (
  'mobile': screen and
    (
      min-width: 480px,
    ),
  'tablet': screen and
    (
      min-width: 768px,
    ),
  'desktop': screen and
    (
      min-width: 1024px,
    ),
  'retina-apple-pasibo-bolshoe': (),
) !default;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
