<!-- registration -->
<form action="POST" class="form" id="login-form-post">
  <label>
    <span>* Name:</span>
    <input type="text" name="userName" class="form__input" data-post="userName" required />
  </label>
  <label>
    <span>* Email:</span>
    <input type="email" name="userEmail" class="form__input" data-post="userEmail" required />
  </label>
  <label>
    <span>* Password:</span>
    <input
      type="password"
      name="userPassword1"
      class="form__input"
      data-post="userPassword"
      required
    />
  </label>
  <label>
    <span>* Password:</span>
    <input
      type="password"
      name="userPassword2"
      class="form__input"
      data-post="userPassword"
      required
    />
  </label>
  <button type="submit" class="form__btn btn">Send</button>
</form>

<!-- login -->
<form action="GET" class="form" id="login-form-get">
  <label>
    <span>* Email:</span>
    <input type="email" name="userEmail" class="form__input" data-get="userEmail" required />
  </label>
  <label>
    <span>* Password:</span>
    <input
      type="password"
      name="userPassword"
      class="form__input"
      data-get="userPassword"
      required
    />
  </label>
  <button type="submit" class="form__btn btn">Send</button>
</form>
