<header class="page-header">
    <!-- <div class="box"></div> -->
    <div class="container">
        <div class="page-header__nav">
            <a href="" class="page-header__logo">
                <img class="icon-logo" src="#" alt="logo" width="24" height="24" />
                <span class="text-logo">Filmoteka</span>
            </a>

            <nav class="page-header__nav">
                        <button class="button-home" type="button" name="home-btn">HOME</button>
                        <button class="button-library" type="button" name="library-btn">MY LIBRARY</button>
            </nav>

        </div>

        <div class="change-block">
            <form action="" class="search-form">
                <input type="text" name="search" placeholder="Поиск фильмов" autofocus>
                <button type="submit" name="search-btn">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
            
    </div>

</header>