
    <div class="backdrop is-hidden" data-backdrop>
        <div class="modal">
            <button class="modal__btn--close" data-modal-close></button>
                    <img class="modal__card--img" src="./images/Rectangle 18.jpg" alt="film-img" />
                    <div class="modal__card--info">
                        <h2 class="modal__card--name">A FISTFUL OF LEAD</h2>
                        <table class="modal__card--table">
                            <tr>
                                <th class="modal__card--item">Vote / Votes</th>
                                <td class="modal__card--data"><span class="modal__card--data-vote">7,3</span> / <span
                                        class="modal__card--data-votes">1260</span></td>
                            </tr>
                            <tr>
                                <th class="modal__card--item">Popularity </th>
                                <td class="modal__card--data">100,2</td>
                            </tr>
                            <tr>
                                <th class="modal__card--item">Original Title </th>
                                <td class="modal__card--data">A FISTFUL OF LEAD</td>
                            </tr>
                            <tr>
                                <th class="modal__card--item">Genre </th>
                                <td class="modal__card--data">Western</td>
                            </tr>
                        </table>
                        <h3 class="modal__card--about">ABOUT</h3>
                        <p class="modal__card--about-text">Four of the West’s most infamous outlaws assemble to steal a huge
                            stash of gold from the most corrupt settlement of
                            the
                            gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of
                            gold hide out in
                            the
                            abandoned gold mine where they happen across another gang of three – who themselves were planning to
                            hit the very
                            same
                            bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with
                            lead... they’ve
                            been double crossed – but by who and how?</p>
                        <div class="modal__btn--box">
                            <button class="modal__btn--watched btn" data-modal-watched>ADD TO WACHED</button>
                            <button class="modal__btn--queue btn" data-modal-queue>ADD TO QUEUE</button>
                        </div>
            </div>
        </div>
    </div>

