<section class="select">
    <div class="container">
        <button class="open is-none">РОЗГОРНУТИ</button>
        <form action="" class="select__form">
            <input id="en-US" type="radio" name="language" value="en-US" class="select__input visually-hidden" checked>
            <label for="en-US" class="select__label">en-US</label>
            <input id="uk-UA" type="radio" name="language" value="uk-UA" class="select__input visually-hidden">
            <label for="uk-UA" class="select__label">uk-UA</label>
            <input id="ru-RU" type="radio" name="language" value="ru-RU" class="select__input visually-hidden">
            <label for="ru-RU" class="select__label">ru-RU</label>
        </form>
        <form action="" class="select__form">
            <input id="movie" type="radio" name="media_type" value="movie" class="select__input visually-hidden" checked>
            <label for="movie" class="select__label">movie</label>
            <input id="tv" type="radio" name="media_type" value="tv" class="select__input visually-hidden">
            <label for="tv" class="select__label">tv</label>
        </form>
        <form action="" class="select__form">
            <input id="trending" type="radio" name="fetch_type" value="trending" class="select__input visually-hidden" checked>
            <label for="trending" class="select__label">trending</label>
            <input id="search" type="radio" name="fetch_type" value="search" class="select__input visually-hidden">
            <label for="search" class="select__label">search</label>
            <input id="discover" type="radio" name="fetch_type" value="discover" class="select__input visually-hidden">
            <label for="discover" class="select__label">discover</label>
        </form>
        <form action="" class="select__form time_window">
            <input id="day" type="radio" name="time_window" value="day" class="select__input visually-hidden" checked>
            <label for="day" class="select__label">day</label>
            <input id="week" type="radio" name="time_window" value="week" class="select__input visually-hidden">
            <label for="week" class="select__label">week</label>
        </form>
        <form action="" class="select__form sort_by is-none">
            Sort by
            <input id="popularity.asc" type="radio" name="sort_by" value="popularity.asc" class="select__input visually-hidden" checked>
            <label for="popularity.asc" class="select__label">popularity.asc</label>
            <input id="popularity.desc" type="radio" name="sort_by" value="popularity.desc" class="select__input visually-hidden">
            <label for="popularity.desc" class="select__label">popularity.desc</label>
            <input id="release_date.asc" type="radio" name="sort_by" value="release_date.asc" class="select__input visually-hidden">
            <label for="release_date.asc" class="select__label">release_date.asc</label>
            <input id="release_date.desc" type="radio" name="sort_by" value="release_date.desc" class="select__input visually-hidden">
            <label for="release_date.desc" class="select__label">release_date.desc</label>
            <input id="original_title.asc" type="radio" name="sort_by" value="original_title.asc" class="select__input visually-hidden">
            <label for="original_title.asc" class="select__label">original_title.asc</label>
            <input id="original_title.desc" type="radio" name="sort_by" value="original_title.desc" class="select__input visually-hidden">
            <label for="original_title.desc" class="select__label">original_title.desc</label>
            <input id="vote_average.asc" type="radio" name="sort_by" value="vote_average.asc" class="select__input visually-hidden">
            <label for="vote_average.asc" class="select__label">vote_average.asc</label>
            <input id="vote_average.desc" type="radio" name="sort_by" value="vote_average.desc" class="select__input visually-hidden">
            <label for="vote_average.desc" class="select__label">vote_average.desc</label>
            <input id="vote_count.asc" type="radio" name="sort_by" value="vote_count.asc" class="select__input visually-hidden">
            <label for="vote_count.asc" class="select__label">vote_count.asc</label>
            <input id="vote_count.desc" type="radio" name="sort_by" value="vote_count.desc" class="select__input visually-hidden">
            <label for="vote_count.desc" class="select__label">vote_count.desc</label>
        </form>
        <p class="output fetch__url">
        </p>
        <p class="output path__params">
        </p>
        <p class="output fetch__params">
        </p>
        <button class="close">ЗГОРНУТИ</button>
    </div>
</section>