.container {
  margin: 0 auto;
  width: 280px;

  @include respond-to(mobile) {
    width: 420px;
  }

  @include respond-to(tablet) {
    width: 618px;
  }

  @include respond-to(desktop) {
    width: 882px;
  }
}

// .container {
//   margin: 0 auto;
//   width: 280px;

//   // @media screen and (min-width: 480px) {
//   //   width: 440px;
//   // }

//   @media screen and (min-width: 768px) {
//     width: 618px;
//   }

//   @media screen and (min-width: 1024px) {
//     width: 882px;
//   }
// }
