.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 29px 10px;
  body.light-theme & {
    background: #f7f7f7;
  }
  body.dark-theme & {
    background: getColor('primary-text');
  }
}

.footer__text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  margin: 0;
  padding: 0;
  width: 242px;
  text-align: center;
  body.dark-theme & {
    color: getColor('modal-rectangle');
  }
  body.light-theme & {
    color: getColor('footer-text');
  }
  @include respond-to(mobile) {
    width: 485px;
    line-height: 1.2;
    font-size: 15px;
  }
  @include respond-to(tablet) {
    font-size: 16px;
  }
}

.footer__link {
  body.dark-theme & {
    color: getColor('modal-rectangle');
  }
  body.light-theme & {
    color: getColor('footer-text');
  }
  transition: color 0.25s linear;
  body.dark-theme &:hover,
  body.light-theme &:hover,
  body.dark-theme &:focus,
  body.light-theme &:focus {
    color: getColor('accent');
    text-decoration: none;
  }
}

.footer__icon {
  margin: 0 10px;
  fill: getColor(accent);

  .footer__link:hover &,
  .footer__link:focus & use {
    fill: getColor(footer-text);
  }
}

.arrowTop {
  position: fixed;
  z-index: 5;
  right: 30px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  background: getColor('accent');
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 200ms linear, background 200ms linear;
  &.show {
    opacity: 1;
  }
  &:hover {
    background: lighten(getColor('accent'), 20%);
    cursor: pointer;
  }
  & span {
    font-size: 20px;
    color: #fff;
  }
}
