.page-header {
  max-width: 100%;
  height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    -webkit-image-set(url(../images/header-home-mobile@2x-min.jpg) 2x, url(../images/header-home-mobile-min.jpg)
          1x);
  background-size: cover;

  @include respond-to(tablet) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      -webkit-image-set(url(../images/header-home-tablet@2x-min.jpg) 2x, url(../images/header-home-tablet-min.jpg)
            1x);
  }

  @include respond-to(desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      -webkit-image-set(url(../images/header-home-desk@2x-min.jpg) 2x, url(../images/header-home-desk-min.jpg)
            1x);
  }
}

.page-header__current {
  max-width: 100%;
  height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    -webkit-image-set(url(../images/header-library-mobile@2x-min.jpg) 2x, url(../images/header-library-mobile-min.jpg)
          1x);
  background-size: cover;

  @include respond-to(mobile) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      -webkit-image-set(url(../images/header-library-tablet@2x-min.jpg) 2x, url(../images/header-library-tablet-min.jpg)
            1x);
  }

  @include respond-to(desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      -webkit-image-set(url(../images/header-library-desk@2x-min.jpg) 2x, url(../images/header-library-desk-min.jpg)
            1x);
  }
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  display: inline-flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  text-decoration: none;

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;

  // &:focus {
  //   outline: none;
  //   box-shadow: 0 0 0 3px getColor('focus');
  // }
}

.icon-logo {
  margin-right: 10px;
}

.button-nav {
  height: 30px;
  width: 90px;

  margin-top: 40px;
  padding: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: getColor('header-text');

  background: transparent;
  border: none;
  cursor: pointer;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;

  &:hover {
    color: getColor('accent');
  }

  &--current {
    text-decoration: underline getColor('accent') 3px;
  }

  &--home {
    width: 80px;
    margin-right: 10px;
  }
}

.text-logo {
  color: getColor('header-text');
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: linear;

  &:hover {
    color: getColor('accent');
  }
}

.search-form {
  display: flex;
  height: 20px;
  justify-content: center;
  position: relative;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #fff;

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;

  &:hover {
    border-bottom: 1px solid getColor('accent');
  }
}

input {
  background: transparent;
  border: none;
  text-align: left;

  width: 100%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: getColor('header-text');
}

.our-library {
  display: flex;
  justify-content: center;
}

.our-library__btn {
  width: 135px;
  height: 45px;
  margin-bottom: 65px;
  margin-left: 10px;
  margin-right: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: getColor('header-text');

  background: transparent;
  border: 1px solid getColor('header-text');
  border-radius: 5px;
  cursor: pointer;

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;

  // &:focus {
  //   outline: none;
  //   box-shadow: 0 0 0 3px getColor('focus');
  //   border-color: getColor('accent');
  // }

  &:hover {
    border-color: getColor('accent');
    background-color: getColor('hover');
  }
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  background-image: url(../images/search.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: linear;
}
