.page-header {
  max-width: 100%;
  height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    -webkit-image-set(url(../images/header-home-mobile@2x-min.jpg) 2x, url(../images/header-home-mobile-min.jpg)
          1x);
  background-size: cover;

  @include respond-to(tablet) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      -webkit-image-set(url(../images/header-home-tablet@2x-min.jpg) 2x, url(../images/header-home-tablet-min.jpg)
            1x);
  }

  @include respond-to(desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      -webkit-image-set(url(../images/header-home-desk@2x-min.jpg) 2x, url(../images/header-home-desk-min.jpg)
            1x);
  }
}

.page-header__library {
  max-width: 100%;
  height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    -webkit-image-set(url(../images/header-library-mobile@2x-min.jpg) 2x, url(../images/header-library-mobile-min.jpg)
          1x);
  background-size: cover;

  @include respond-to(mobile) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      -webkit-image-set(url(../images/header-library-tablet@2x-min.jpg) 2x, url(../images/header-library-tablet-min.jpg)
            1x);
  }

  @include respond-to(desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      -webkit-image-set(url(../images/header-library-desk@2x-min.jpg) 2x, url(../images/header-library-desk-min.jpg)
            1x);
  }

  background-position: bottom;
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  display: inline-flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  text-decoration: none;
  color: getColor('header-text');

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;

  // &:focus {
  //   outline: none;
  //   box-shadow: 0 0 0 3px getColor('focus');
  // }

  &:hover {
    color: getColor('accent');
  }
}

.button-nav {
  height: 30px;
  width: 90px;

  margin-top: 40px;
  padding: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: getColor('header-text');

  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.25s linear;
  // transition-duration: 200ms;
  // transition-timing-function: linear;
  position: relative;

  &:hover {
    color: getColor('accent');
  }

  &:hover:before {
    transform: scaleX(1);
    transition: transform 0.25s;
    transform-origin: left;
  }

  &::before {
    content: '';
    width: 70px;
    height: 2px;
    background-color: getColor('accent');
    position: absolute;
    left: 10px;
    bottom: 5px;
    transform: scaleX(0);
    transition: transform 0.25s;

    transform-origin: right;
  }

  &--current {
    &::before {
      content: '';
      transform: scaleX(1);
    }
  }

  &--home {
    width: 80px;
    margin-right: 10px;

    &::before {
      content: '';
      width: 40px;
      left: 20px;
    }
  }

  &--login {
    width: 60px;
    text-transform: uppercase;
    &::before {
      content: '';
      width: 35px;
      left: 13px;
    }
  }
}

.text-logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-left: 10px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.search-form {
  display: flex;
  height: 20px;
  justify-content: center;
  position: relative;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #fff;

  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;

  &:hover:before {
    transform: scaleX(1);
    transition: transform 0.25s;
    transform-origin: left;
  }

  &::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: getColor('accent');
    position: absolute;
    left: 0;
    bottom: -1px;
    transform: scaleX(0);
    transition: transform 0.3s;

    transform-origin: right;
  }
}

header input {
  background: transparent;
  border: none;
  text-align: left;

  width: 100%;
  outline: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: getColor('header-text');
}

.our-library {
  display: none;
  justify-content: center;
}

.our-library__btn {
  width: 135px;
  height: 45px;
  margin-bottom: 65px;
  margin-left: 10px;
  margin-right: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: getColor('header-text');

  background: transparent;
  border: 1px solid getColor('header-text');
  border-radius: 5px;
  cursor: pointer;

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;

  // &:focus {
  //   outline: none;
  //   box-shadow: 0 0 0 3px getColor('focus');
  //   border-color: getColor('accent');
  // }

  &:hover {
    border-color: getColor('accent');
    background-color: getColor('hover');
  }
}
.superactive {
  border-color: #ff6b08;
  background: #ec640a;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  background-image: url(../images/search.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.change-block__notification {
  display: none;
  text-align: center;
  margin-top: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: getColor('notification-text');
}

.search-list {
  display: block;
  // position: absolute;
  width: 100%;
  height: 95px;
  color: getColor('header-text');
  // background-color: #16130d;

  // &__item {
  //   margin-top: 5px;
  //   margin-bottom: 5px;
  // }
}

.form-block {
  // max-width: 330px;
  margin-left: auto;
  margin-right: auto;

  display: block;
  height: 115px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  &__elastic {
    display: flex;
    // position: relative;
    justify-content: left;
  }
}

.search-list__item {
  @include text(500, 12px, 1.3, left);
  // color: getColor('header-text');
  color: rgb(228, 212, 192);
  margin-top: 3px;
  margin-left: 2px;
  background-color: rgb(44, 41, 38);
  cursor: pointer;
}

.search-list__rating {
  color: getColor('accent');
}
