.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.25);
}
.modal {
  position: absolute;
  width: 90%;
  margin: 20px;
  min-width: 280px;
  min-height: 958px;
  padding: 48px 20px 40px 20px;
  background-color: getColor('header-text');
  z-index: 100;
  @include respond-to(mobile) {
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    min-width: 0;
    min-height: 0;
    width: 280px;
    height: 958px;
    margin: 20px auto 0 auto;
  }
  @include respond-to(tablet) {
    display: flex;
    margin: 237px 75px 225px 75px;
    padding: 40px 30px 40px 30px;
    min-height: 0;
    width: 618px;
    height: 562px;
  }
  @include respond-to(desktop) {
    margin: 100px 71px;
    padding: 50px 30px 40px 30px;
    width: 882px;
    height: 568px;
  }
}
.modal__btn--close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: getColor('header-text');
  border: none;
  cursor: pointer;

  &:hover::after,
  &:focus::after {
    background-color: getColor('accent-modal');
    transform: rotate(-225deg);
  }
  &:hover::before,
  &:focus::before {
    background-color: getColor('accent-modal');
    transform: rotate(225deg);
  }
  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 8px;

    height: 1px;
    width: 20px;
    background: getColor('primary-text');
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &::before {
    transform: rotate(45deg);
  }
}
.modal__card--img {
  margin-bottom: 30px;
  border-radius: 5px;
  @include respond-to(tablet) {
    margin-bottom: 0;
    width: 264px;
    height: 373.55px;
    margin-right: 32px;
  }
  @include respond-to(desktop) {
    width: 396px;
    height: 477.8px;
    margin-right: 30px;
  }
}

.modal__card--name {
  margin-bottom: 20px;
  text-transform: uppercase;
  @include text(500, 20px, 1.15, left);
  @include respond-to(desktop) {
    @include text(500, 30px, 1.16, left);
  }
}
.modal__card--table {
  margin-bottom: 10px;
  text-align: left;
}
.modal__card--item {
  padding: 0;
  padding-bottom: 10px;
  padding-right: 20px;
  color: getColor('modal-text');
  @include text;
  @include respond-to(desktop) {
    padding-right: 77px;
  }
}
.modal__card--data {
  @include text;
  padding: 0;
  padding-bottom: 10px;
}
.modal__card--data-vote {
  @include text(500, 12px, 1.16, left);
  padding: 1px 9px 1px 10px;
  color: getColor('header-text');
  background-color: getColor('accent-modal');
  min-width: 36px;
  height: 16px;
  border-radius: 5px;
}
.modal__card--data-votes {
  @include text(500, 12px, 1.16, left);
  padding: 1px 4px;
  background-color: getColor('modal-rectangle');
  border-radius: 5px;
  height: 16px;
  min-width: 36px;
}
.modal__card--about {
  margin-bottom: 10px;
  @include text;
  text-transform: uppercase;
}
.modal__card--about-text {
  margin: 0;
  margin-bottom: 20px;
  @include text(500, 12px, 1.67, left);
}
.modal__btn--box {
  display: flex;
  justify-content: center;
  @include respond-to(desktop) {
    justify-content: flex-start;
  }
}
.btn {
  display: block;
  margin: 0;
  padding: 0;
  @include text(500, 12px, 1.33, center);
  text-transform: uppercase;
  cursor: pointer;

  width: 112.58px;
  height: 44px;
  background-color: getColor('header-text');
  color: getColor('primary-text');
  border: 1px solid getColor('primary-text');
  border-radius: 5px;
  &:hover,
  &:focus {
    background-color: getColor('accent-modal');
    color: getColor('header-text');
    border: 1px solid getColor('header-text');
  }
  @include respond-to(tablet) {
    width: 125px;
    height: 44px;
  }
  @include respond-to(desktop) {
    width: 136px;
    height: 44px;
  }
}
.btn__active {
  background-color: getColor('accent-modal');
  color: getColor('header-text');
  border: 1px solid getColor('header-text');
}
.modal__btn--queue {
  margin-left: 15px;
}
