.tui-pagination.tui-pagination__custom {
  &.hidden {
    display: none;
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  // align-items: center;

  margin: 40px 20px;
  height: 40px;
  .tui-page-btn.tui-first,
  .tui-page-btn.tui-last,
  .tui-page-btn.tui-prev-is-ellip,
  .tui-page-btn.tui-next-is-ellip {
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
  .tui-next,
  .tui-prev {
    margin: 0;
    padding: 0;
    background-color: getColor('modal-rectangle');
  }
  .tui-page-btn {
    // display: flex;
    margin: 0;
    // padding: 0;
    width: 40px;
    height: 40px;
    font-weight: 500;
    line-height: 16px;
    font-style: normal;
    border-radius: 5px;
    border-color: transparent;
  }
  .tui-page-btn.tui-is-selected {
    background: getColor('accent');
    background-color: getColor('accent');
    border-color: transparent;
  }
  // #selected-btn {

  // }
  .tui-prev,
  .tui-next,
  .tui-page-btn {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .tui-last-child.tui-is-selected,
  .tui-first-child.tui-is-selected {
    border-right: none;
    border-left: none;
  }
}
