.section-movies {
  padding: 20px 0 40px;
  background: getColor('bg-page');

  @include respond-to(tablet) {
    padding: 60px 0;
  }

  &__set {
    @include respond-to(tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      margin: -15px;
    }
  }

  &__card {
    height: 440px;
    outline: 2px solid rgb(73, 44, 8);
    margin: 0 auto 20px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    @include respond-to(mobile) {
      width: 70%;
    }

    @include respond-to(tablet) {
      margin: 15px;
      flex-basis: calc((100% - 4 * 15px) / 2);
    }

    @include respond-to(desktop) {
      flex-basis: calc((100% - 6 * 15px) / 3);
    }
  }
}
