.team-list {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 25px #888;
}
.team-list__name {
  width: 30%;
}
.name {
  height: 100%;
}
.name__item {
  height: calc(100% / 7);
  font-weight: 500;
  font-size: 20px;
  background: getColor('bg-page');
  display: flex;
  align-items: center;
  text-indent: 15px;
  cursor: pointer;
  &.active {
    background: #fff;
    color: getColor('accent');
    border-left: 5px solid getColor('accent');
  }
}
.description {
  flex: 1;
}
.team-list__description {
  width: 70%;
  font-size: 16px;
  padding: 20px 30px;
  position: relative;
}
.description__item {
  position: absolute;
  top: -50vh;
  left: 50px;
  opacity: 0;
  padding-right: 35px;
  padding-top: 30px;
  transition: left 150ms linear;
  &.active {
    opacity: 1;
    top: 20px;
    left: 20px;
  }
}

.description__wrapper {
  float: left;
  width: 37%;
  margin-right: 30px;
}

.description__img {
  display: block;
  width: 100%;
  height: 200px;
  background: #eee;
  margin-bottom: 10px;
  border-radius: 5px;
}

.description__text {
  // width: 70%;
}

.modal-team-list {
  padding: 0;
  @include respond-to(tablet) {
    padding: 0;
  }
  @include respond-to(mobile) {
    padding: 0;
  }
}
