.movies-card__img {
  border-radius: 5px;
}

.card-info {
  padding-top: 10px;
}

.card-info__detals {
  display: flex;
  align-items: baseline;
}

.movies-card__genres-list {
  display: flex;
}

.movies-card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.movies-card__genres-item,
.delimiter,
.movies-card__date {
  margin-top: 5px;
  margin-right: 5px;
  color: getColor('accent');

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.movies-card__genres-item::after {
  content: ',';
}

.movies-card__genres-item:last-of-type::after {
  content: '';
}

.rating {
  width: 36px;
  height: 16px;

  background-color: getColor('accent');
  color: getColor('header-text');
  border-radius: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;

  &--is-hidden {
    opacity: 0;
  }
}
