.movies-card__box {
  display: flex;
  border-radius: 5px;
  height: 100%;
  flex-direction: column;

  transition: all 250ms $cubic;

  &:hover,
  &:focus {
    box-shadow: 0px 0px 15px getColor('modal-text');
    transform: scale(1.05);
  }
}

.movies-card__img {
  border-radius: 5px;
  object-fit: cover;
  height: 398px;
}

.movies-card__title {
  body.dark-theme & {
    color: getColor('modal-rectangle');
  }
  body.light-theme & {
    color: getColor('footer-text');
  }

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.card-info {
  padding: 10px 0px 5px 5px;
  flex-grow: 1;
}

.card-info__detals {
  display: flex;
  align-items: baseline;
}

.movies-card__genres-list {
  display: flex;
}

.movies-card__genres-item,
.delimiter,
.movies-card__date {
  margin-top: 5px;
  margin-right: 5px;
  color: getColor('accent');

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.movies-card__genres-item::after {
  content: ',';
}

.movies-card__genres-item:last-of-type::after {
  content: '';
}

.rating {
  width: 36px;
  height: 16px;

  background-color: getColor('accent');
  color: getColor('header-text');
  border-radius: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;

  &--is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
