<!-- login -->
<form method='GET' class='form' id='login-form-get'>
  <label>
    <span>* Email:</span>
    <input type='email' name='userEmail' class='form__input' data-get='userEmail' required />
  </label>
  <label>
    <span>* Password:</span>
    <input
      type='password'
      name='userPassword'
      class='form__input'
      data-get='userPassword'
      required
    />
  </label>
  <button type='submit' class='form__btn btn'>Send</button>
  <p class='form__registration'>No account? => <a href='' class='form__link'>Register</a></p>
</form>