<ul class='team-list'>
  <li class='team-list__name'>
    <ul class='name'>
      <li class='name__item active'>Пирон Евгений</li>
      <li class='name__item'>Жабоедова Анастасия</li>
      <li class='name__item'>Бондарь Виктор</li>
      <li class='name__item'>Дзема Виталий</li>
      <li class='name__item'>Хливченко Ольга</li>
      <li class='name__item'>Варуник Виталий</li>
      <li class='name__item'>Остафийчук Алексей</li>
    </ul>
  </li>
  <li class='team-list__description'>
    <ul class='description'>
      <li class='description__item active'>
        <div class='description__wrapper'>
          <img src='#' alt='Фото Пирона Евгения' class='description__img' />
        </div>
        <p class='description__text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
        </p>
      </li>
      <li class='description__item'>
        <div class='description__wrapper'>
          <img src='#' alt='Фото Жабоедовой Анастасии' class='description__img' />
        </div>
        <p class='description__text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
        </p>
      </li>
      <li class='description__item'>
        <div class='description__wrapper'>
          <img src='#' alt='Фото Бондаря Виктора' class='description__img' />
        </div>
        <p class='description__text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
        </p>
      </li>
      <li class='description__item'>
        <div class='description__wrapper'>
          <img src='#' alt='Фото Дземы Виталия' class='description__img' />
        </div>
        <p class='description__text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
        </p>
      </li>
      <li class='description__item'>
        <div class='description__wrapper'>
          <img src='#' alt='Фото Хливченко Ольги' class='description__img' />
        </div>
        <p class='description__text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
        </p>
      </li>
      <li class='description__item'>
        <div class='description__wrapper'>
          <img src='#' alt='Фото Варуника Виталия' class='description__img' />
        </div>
        <p class='description__text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
        </p>
      </li>
      <li class='description__item'>
        <div class='description__wrapper'>
          <img src='#' alt='Фото Остафийчука Алексея' class='description__img' />
        </div>
        <p class='description__text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
          iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet aut.
        </p>
      </li>
    </ul>
  </li>
</ul>