 <ul class="team-list">
      <li class="team-list__name">
        <ul class="name">
          <li class="name__item active">Женя</li>
          <li class="name__item">Настя</li>
          <li class="name__item">Витя</li>
          <li class="name__item">Виталик</li>
          <li class="name__item">Оля</li>
          <li class="name__item">Виталик</li>
          <li class="name__item">Леша</li>
        </ul>
      </li>
      <li class="team-list__description">
        <ul class="description">
          <li class="description__item active">
            <h3 class="description__name">Женя</h3>
            <p class="description__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
              iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet
              aut.
            </p>
          </li>
          <li class="description__item">
            <h3 class="description__name">Настя</h3>
            <p class="description__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
              iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet
              aut.
            </p>
          </li>
          <li class="description__item">
            <h3 class="description__name">Витя</h3>
            <p class="description__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
              iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet
              aut.
            </p>
          </li>
          <li class="description__item">
            <h3 class="description__name">Виталик</h3>
            <p class="description__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
              iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet
              aut.
            </p>
          </li>
          <li class="description__item">
            <h3 class="description__name">Оля</h3>
            <p class="description__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
              iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet
              aut.
            </p>
          </li>
          <li class="description__item">
            <h3 class="description__name">Виталик</h3>
            <p class="description__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
              iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet
              aut.
            </p>
          </li>
          <li class="description__item">
            <h3 class="description__name">Леша</h3>
            <p class="description__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quam cumque odio veniam
              iste cum assumenda eum eaque eveniet aut. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Sequi quam cumque odio veniam iste cum assumenda eum eaque eveniet
              aut.
            </p>
          </li>
        </ul>
      </li>
    </ul>


    